* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: whitesmoke;
}

main {
  width: 75%;
}

h3 {
  font-size: 48px;
  margin-bottom: 32px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 24px;
  border-radius: 16px;
  background-color: whitesmoke;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  transition: all 0.2s;
}

li {
  min-width: 200px;
  min-height: 180px;
  max-width: 300px;
  font-size: 32px;
  background-color: white;
  box-shadow: 0 0 15px #f3f3f3;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

li button {
  opacity: 0;
}

li:hover {
  scale: 1.2;
  box-shadow: 0 0 15px rgb(231, 227, 227);
}

li:hover button {
  opacity: 1;
}

li p {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li:hover p {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
  word-wrap: break-word;
}

input {
  padding: 16px 24px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 16px;
}

button {
  padding: 16px 24px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  background-color: #202124;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

button:focus {
  outline: 2px solid #202124;
  outline-offset: 2px;
}

.users-list button {
  padding: 16px 24px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  background-color: crimson;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

.users-list button:focus {
  outline: 2px solid crimson;
  outline-offset: 2px;
}
